csrc/
simv.daidir/
compile.log
simv
64/
AN.DB/
**/*.log
**/*.vcd
**/*.vpd
**/*.fsdb
**/*.key
**/*.dat
**/*.svh
verdi_config_file
vc_hdrs.h
**/*.txt
**/*.bin
**/*.mem
**/*.conf
**/*.rc
**/verdiLog/
hls/build/
!hls/CMakeLists.txt
